html {
  height: 100%;
  background-image: url("../space.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;

}
.background {
  display: flex;
  flex-flow: column;
  height: 100%;
  position: relative;
}

.title {
  text-align: center;
  color: white;
  grid-column-start: 2;
}

.created {
  text-align: center;
  color: white;
  grid-column-start: 2;
}

.canvas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

 .links {
   display: flex;
   justify-content: space-between;
   flex-flow: row;
   width: 550px;
   align-self: center;
   font-size: 40px;
   grid-column-start: 2;
 }

  .information {
    grid-column-start: 2;
  }

 a {
   color: white;
 }

.rules-title {
  text-align: center;
  text-decoration: underline;
}

.rules {
  color: white;
  list-style: none;
  grid-column-start: 3;
}

#gameBoard {
  margin: 0 auto;
  grid-column-start: 2;
  border-radius: 5px;
}
