html {
  height: 100%;
  background-image: url("../bubble.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;

}
.background {
  display: flex;
  flex-flow: column;
  height: 100%;
  position: relative;
  align-items: center;
}

.title {
  text-align: center;
  color: white;
}

.created {
  text-align: center;
  color: white;
}

.canvas {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

 .links {
   display: flex;
   justify-content: space-between;
   flex-flow: row;
   color: white;
   width: 550px;
   align-self: center;
   font-size: 40px;
 }

.rules-title {
  text-align: center;
  text-decoration: underline;
}

.rules {
  color: white;
  list-style: none;
  grid-column-start: 3;
}

#gameBoard {
  display: inline-block;
  grid-column-start: 2;
  border-radius: 5px;
}
